body {
    width: 100%;
    height: 100%;
}
.div{
    width: 300px;
    height: 210px;
    margin: 20px;
    padding: 20px;
}
table, td, th{
    text-align: center;
    border: 1px solid black;
}
td{ 
    width: 150px;
}
tr{
    height: 30px;
}
th{
    background-color: #acacac;
}
.td2{
    background-color: blanchedalmond;
}